.container-hero-section {
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.hero-img-1 {
  width: 100%;
  max-width: 620px;
  height: auto;
  position: relative;
}
.hero-img-2 {
  margin-left: 6.5rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  max-width: 620px;
}

.hero-fisrt-text {
  font-size: 3rem;
}
.hero-second-text {
  font-size: 7rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 10px;
  line-height: 110px;
}
.hero-second-row {
  width: fit-content;
  text-align: center;
}

.hero-tittle-container {
  padding-top: 80px;
  position: absolute;
  margin-top: 8rem;
}

/* #### Mobile Phones Portrait #### */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .hero-img-1 {
    max-width: 200px;
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }
  .hero-second-text {
    font-size: 2.0rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: 6px;
    line-height: 45px;
  }
  .hero-tittle-container {
    top: 6.5rem;
    padding: 0;
    display: flex;
    margin: 0;
    right: 0;
    padding-left: 8.2rem;
  }

  .hero-first-row {
    width: 100%;
    text-align: center;
  }
  .hero-second-row {
    width: 100%;
  }
  .hero-fisrt-text {
    font-size: 2rem;
  }
}

/* #### Mobile Phones Landscape #### */
@media screen and (max-device-width: 640px) and (orientation: landscape) {
  /* some CSS here */
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-device-width: 640px) {
  /* some CSS here */
}

/* #### iPhone 4+ Portrait or Landscape #### */
@media screen and (min-device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  /* some CSS here */
}

/* #### iPhone 5 Portrait or Landscape #### */
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  /* some CSS here */
}

/* #### iPhone 6 and 6 plus Portrait or Landscape #### */
@media (min-device-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  /* some CSS here */
}

/* #### Tablets Portrait or Landscape #### */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* some CSS here */
}

/* #### Desktops #### */
@media screen and (min-width: 1024px) {
}
