.container-category-item {
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.container-category-item:hover {
  cursor: pointer;
  scale: 1.01;
}
#category-item-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: filter .7s;
  -webkit-transition: filter .7s;
  -moz-transition: filter .7s;
  -ms-transition: filter .7s;
  -o-transition: filter .7s;
}
#category-item-img:hover {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

#category-item-img:hover .item-name-text {
  filter: none;
  -webkit-filter: none;
}

.black-line-container {
  height: 100%;
}
.black-line {
  background-color: rgba(0, 0, 0, 0.695);
  height: 80px;
}

.item-name-container {
  height: 100%;
}

.item-name-text {
  color: white;
  font-size: 35px;
}
