.footer-container {
  height: fit-content;
  padding-left: 50px;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 30px; 
}

.email-input-box {
  width: 300px;
}

.subscribe-btn-container {
}

.subscribe-btn {
  border: 1px solid white;
  background-color: black;
}

.subscribe-btn:hover {
  background-color: rgb(44, 43, 43);
  cursor: pointer;
}

.subscribe-btn:active {
  color: black;
  background-color: white;
}

.footer-animation {
  /* animation: footeranimation 4s ease;
  -webkit-animation: footeranimation 4s ease; */
}

@keyframes footeranimation {
  0% {
    opacity: 0; 
  }
  80% {
    opacity: 0; 
  }
  100% { 
    opacity: 100;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer-container {
    height: fit-content;
   padding: 50px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}
