.store-item-container {
  height: fit-content;
  transition: 1.3s;
  -webkit-transition: 1.3s;
  -moz-transition: 1.3s;
  -ms-transition: 1.3s;
  -o-transition: 1.3s;
  border-image: linear-gradient(to bottom, #ededf6 0%, black 100%) 1;
  border-radius: 5px;
  /*thisdoesn'twork*/
  border-width: 4px;
  border-style: solid;
  padding: 5px;
}
.store-img-container {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: end;
  background-color: #ededf6;
  width: 100%;
}
.store-item-container:hover .store-img-container {
  background-color: white;
}
.store-item-container:hover {
  background-image: linear-gradient(to bottom, #ededf6 0%, black 100%);
  cursor: pointer;
  color: white;
}
.store-item-img {
  background-image: url("../../assets/maleGreenShirtModal.png");
  width: 100%;
  height: 87%;
  background-size: contain;
  background-repeat: no-repeat;
} 