.store-item-container {
  height: fit-content;
  transition: 1.3s;
  -webkit-transition: 1.3s;
  -moz-transition: 1.3s;
  -ms-transition: 1.3s;
  -o-transition: 1.3s;
  border-image: linear-gradient(to bottom, #ededf6 0%, black 100%) 1;
  border-radius: 5px;
  /*thisdoesn'twork*/
  border-style: solid;
  padding: 5px;
  animation-name: fadein;
  animation-duration: 1s;
}
.product-desc {
  font-size: 15px;
}
.store-img-container {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: end;
  background-color: #ededf6;
  width: 100%;
}
.store-item-container:hover .store-img-container {
  background-color: white;
}
.store-item-container:hover {
  background-image: linear-gradient(to bottom, #ededf6 0%, black 100%);
  cursor: pointer;
  color: white;
}
.store-item-img {
  width: 100%;
  height: 87%;
  background-size: contain;
  background-repeat: no-repeat;
}
.store-item-description {
  display: -webkit-box; 
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  line-height: 1.8em; 
  max-height: 5.5em; 
  opacity: .7;
}


@keyframes fadein {
  from {
    opacity: 0%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
